<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          <visits>
			<processor type="Sitecore9.HotFixes.Processors.Profile.GetVisitsWithLocationsCustom, Sitecore9.HotFixes" patch:instead="*[@type='Sitecore.Cintel.Reporting.ReportingServerDatasource.Visits.GetVisitsWithLocations, Sitecore.Cintel']" />
		  </visits>
		  <visit-summary>
			<processor type="Sitecore9.HotFixes.Processors.Profile.GetVisitsWithLocationsCustom, Sitecore9.HotFixes" patch:instead="*[@type='Sitecore.Cintel.Reporting.ReportingServerDatasource.Visits.GetVisitsWithLocations, Sitecore.Cintel']" />
		  </visit-summary>
		  <latest-statistics>
			<processor type="Sitecore9.HotFixes.Processors.Profile.GetVisitsWithLocationsCustom, Sitecore9.HotFixes" patch:instead="*[@type='Sitecore.Cintel.Reporting.ReportingServerDatasource.Visits.GetVisitsWithLocations, Sitecore.Cintel']" />
		  </latest-statistics>
		  <paid-keyword-summary>
			<processor type="Sitecore9.HotFixes.Processors.Profile.GetVisitsWithLocationsCustom, Sitecore9.HotFixes" patch:instead="*[@type='Sitecore.Cintel.Reporting.ReportingServerDatasource.Visits.GetVisitsWithLocations, Sitecore.Cintel']" />
		  </paid-keyword-summary>
		  <external-keyword-summary>
			<processor type="Sitecore9.HotFixes.Processors.Profile.GetVisitsWithLocationsCustom, Sitecore9.HotFixes" patch:instead="*[@type='Sitecore.Cintel.Reporting.ReportingServerDatasource.Visits.GetVisitsWithLocations, Sitecore.Cintel']" />
		  </external-keyword-summary>
		  <paid-keyword-detail>
			<processor type="Sitecore9.HotFixes.Processors.Profile.GetVisitsWithLocationsCustom, Sitecore9.HotFixes" patch:instead="*[@type='Sitecore.Cintel.Reporting.ReportingServerDatasource.Visits.GetVisitsWithLocations, Sitecore.Cintel']" />
		  </paid-keyword-detail>
		  <external-keyword-detail>
			<processor type="Sitecore9.HotFixes.Processors.Profile.GetVisitsWithLocationsCustom, Sitecore9.HotFixes" patch:instead="*[@type='Sitecore.Cintel.Reporting.ReportingServerDatasource.Visits.GetVisitsWithLocations, Sitecore.Cintel']" />
		  </external-keyword-detail>
		  <visits-query>
			<processor type="Sitecore9.HotFixes.Processors.Profile.GetVisitsWithLocationsCustom, Sitecore9.HotFixes" patch:instead="*[@type='Sitecore.Cintel.Reporting.ReportingServerDatasource.Visits.GetVisitsWithLocations, Sitecore.Cintel']" />
		  </visits-query>
		</pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
